openapi: 3.0.3
info:
  title: ConnexUS Mobile Calling App API
  description: |
    RESTful API for ConnexUS AI-powered mobile calling application.
    This API provides endpoints for user authentication, call management,
    SMS functionality, AI agent configuration, and analytics.
  version: 1.0.0
  contact:
    name: ConnexUS API Support
    email: api-support@connexus.app
  license:
    name: Proprietary

servers:
  - url: https://api.connexus.app/v1
    description: Production server
  - url: https://staging-api.connexus.app/v1
    description: Staging server
  - url: http://localhost:3000/v1
    description: Development server

tags:
  - name: Authentication
    description: User authentication and session management
  - name: Users
    description: User profile and settings management
  - name: Calls
    description: Call initiation and management
  - name: SMS
    description: SMS messaging functionality
  - name: AI
    description: AI agent configuration and knowledge base
  - name: Analytics
    description: Call history and analytics
  - name: Routing
    description: Call routing rules and configuration

components:
  securitySchemes:
    BearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
      description: JWT token obtained from login endpoint
    ApiKeyAuth:
      type: apiKey
      in: header
      name: X-API-Key
      description: API key for service-to-service communication
  schemas:
    User:
      $ref: './schemas/user.yaml#/User'
    PhoneNumber:
      $ref: './schemas/user.yaml#/PhoneNumber'
    UserPreferences:
      $ref: './schemas/user.yaml#/UserPreferences'
    LoginRequest:
      $ref: './schemas/auth.yaml#/LoginRequest'
    LoginResponse:
      $ref: './schemas/auth.yaml#/LoginResponse'
    RegisterRequest:
      $ref: './schemas/auth.yaml#/RegisterRequest'
    PasswordResetRequest:
      $ref: './schemas/auth.yaml#/PasswordResetRequest'
    PasswordResetConfirm:
      $ref: './schemas/auth.yaml#/PasswordResetConfirm'
    Call:
      $ref: './schemas/call.yaml#/Call'
    CallQuality:
      $ref: './schemas/call.yaml#/CallQuality'
    InitiateCallRequest:
      $ref: './schemas/call.yaml#/InitiateCallRequest'
    TransferCallRequest:
      $ref: './schemas/call.yaml#/TransferCallRequest'
    AIConfiguration:
      type: object
      properties:
        agentName:
          type: string
        personality:
          type: object
          properties:
            tone:
              type: string
              enum: [professional, friendly, casual]
            responseLength:
              type: string
              enum: [brief, moderate, detailed]
        greeting:
          type: string
        businessHours:
          type: object
        voiceSettings:
          type: object
    FAQ:
      type: object
      required: [question, answer]
      properties:
        id: { type: string }
        question: { type: string }
        answer: { type: string }
        category: { type: string }
        keywords:
          type: array
          items: { type: string }
    SMSTemplate:
      type: object
      required: [title, message]
      properties:
        id: { type: string }
        title: { type: string }
        message: { type: string }
        category: { type: string }
        variables:
          type: array
          items: { type: string }
    Pagination:
      type: object
      properties:
        page: { type: integer }
        limit: { type: integer }
        total: { type: integer }
        totalPages: { type: integer }
    ErrorResponse:
      type: object
      properties:
        error: { type: string }
        message: { type: string }

security:
  - BearerAuth: []

paths:
  # Authentication
  /auth/register:
    post:
      tags: [Authentication]
      summary: Register new user account
      description: |
        Creates a new user account with email and password.
        Sends verification email upon successful registration.
      operationId: register
      security: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RegisterRequest'
      responses:
        '201':
          description: User successfully registered
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    example: Registration successful. Please check your email to verify your account.
                  userId:
                    type: string
                    format: uuid
        '400':
          description: Invalid input data
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '409':
          description: Email already exists
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /auth/login:
    post:
      tags: [Authentication]
      summary: User login
      description: Authenticates user and returns JWT tokens
      operationId: login
      security: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/LoginRequest'
      responses:
        '200':
          description: Login successful
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LoginResponse'
  /auth/refresh:
    post:
      tags: [Authentication]
      summary: Refresh access token
      description: Uses refresh token to get new access token
      operationId: refreshToken
      security: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [refreshToken]
              properties:
                refreshToken:
                  type: string
      responses:
        '200':
          description: Token refreshed successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  accessToken: { type: string }
                  expiresIn: { type: integer }
  /auth/logout:
    post:
      tags: [Authentication]
      summary: Logout user
      description: Invalidates current tokens and ends session
      operationId: logout
      responses:
        '200':
          description: Logout successful
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    example: Logged out successfully

  # Users
  /users/profile:
    get:
      tags: [Users]
      summary: Get current user profile
      description: Returns authenticated user's profile information
      operationId: getUserProfile
      responses:
        '200':
          description: User profile retrieved successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/User'
    put:
      tags: [Users]
      summary: Update user profile
      description: Updates authenticated user's profile information
      operationId: updateUserProfile
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                firstName: { type: string }
                lastName: { type: string }
                avatar: { type: string, format: uri }
      responses:
        '200':
          description: Profile updated successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/User'
  /users/phone-numbers:
    get:
      tags: [Users]
      summary: List user's phone numbers
      operationId: getUserPhoneNumbers
      responses:
        '200':
          description: Phone numbers retrieved successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  phoneNumbers:
                    type: array
                    items: { $ref: '#/components/schemas/PhoneNumber' }
    post:
      tags: [Users]
      summary: Add phone number
      operationId: addPhoneNumber
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [number]
              properties:
                number: { type: string }
                label: { type: string, enum: [mobile, home, work, other] }
                makePrimary: { type: boolean, default: false }
      responses:
        '201':
          description: Phone number added successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  phoneNumber: { $ref: '#/components/schemas/PhoneNumber' }
                  verificationRequired: { type: boolean }

  # Calls
  /calls/initiate:
    post:
      tags: [Calls]
      summary: Initiate outbound call
      operationId: initiateCall
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/InitiateCallRequest'
      responses:
        '201':
          description: Call initiated successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  callId: { type: string, format: uuid }
                  status: { type: string, enum: [connecting, ringing] }
  /calls/history:
    get:
      tags: [Calls]
      summary: Get call history
      operationId: getCallHistory
      parameters:
        - in: query
          name: page
          schema: { type: integer, default: 1 }
        - in: query
          name: limit
          schema: { type: integer, default: 20 }
      responses:
        '200':
          description: Call history retrieved successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  calls:
                    type: array
                    items: { $ref: '#/components/schemas/Call' }
                  pagination: { $ref: '#/components/schemas/Pagination' }
  /calls/{callId}:
    get:
      tags: [Calls]
      summary: Get call details
      operationId: getCallDetails
      parameters:
        - in: path
          name: callId
          required: true
          schema: { type: string, format: uuid }
      responses:
        '200':
          description: Call details retrieved successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Call'

  # SMS
  /sms/send:
    post:
      tags: [SMS]
      summary: Send SMS message
      operationId: sendSMS
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [to, message]
              properties:
                to: { type: string }
                from: { type: string }
                message: { type: string }
                templateId: { type: string }
                templateVariables: { type: object }
      responses:
        '201':
          description: SMS sent successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  messageId: { type: string, format: uuid }
                  status: { type: string, enum: [sent, queued, scheduled] }

  # AI
  /ai/config:
    get:
      tags: [AI]
      summary: Get AI agent configuration
      operationId: getAIConfig
      responses:
        '200':
          description: Configuration retrieved successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AIConfiguration'
    put:
      tags: [AI]
      summary: Update AI agent configuration
      operationId: updateAIConfig
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AIConfiguration'
      responses:
        '200':
          description: Configuration updated successfully


